= render 'layouts/sideber'
.main
  .main__header
    .main__header__left
      .main__header__left__group-name Sample グループ
      .main__header__left__member MEMBER:
    .main__header__edit
      %a{:href => ""} edit
  .main__contents
    .main__contents__message-list
      .main__contents__message-list__message
        .main__contents__message-list__message__user-name ryosukemachira
        .main__contents__message-list__message__day 2016/10/02 06:27:07
        .main__contents__message-list__message__text なるほど
  .main__footer
    %form.main__footer__body
      %input{:placeholder => "type a message", :type => "text", :class => "input"}
      .image
        = link_to "#" do
          = fa_icon "image"
      %input{:type => "submit", :value => "Send", :class => "submit"}
