.sideber {
  background-color: #2F3E51;
  height: 100vh;
  width: 300px;
  float: left;
  	&__top {
		background-color: #253141;
		color: $white;
		height: 100px;
		width: 300px;
		text-align: center;
		display: flex;
		display: table-cell;
		vertical-align: middle;
		&__name {
		  font-size: 16px;
		  font-weight: bold;
		  float: left;
		  padding-left: 20px;
		}
		&__icon {
		  float: left;
		  padding: 0 20px;
		  display: flex;
		  li {
				padding-left: 5px;
				a:visited {
			  	color: $white;
				}
	  		}
		}
	}
  &__bottom {
		&__group {
		  color: $white;
		  padding: 20px;
		  &__group-name {
				font-size: 15px;
				padding-bottom: 5px;
			}
		  &__group-message {
				font-size: 11px;
			}
		}
	}
}