.sidebar {
  float: left;
  background-color: $lightNavy;
  height: 100vh;
  width: 300px;
  &__top {
    background-color: $darkNavy;
    color: $white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      font-size: 16px;
      font-weight: bold;
      padding-left: 20px;
    }
    &__list {
      display: flex;
      padding-right: 20px;
      li {
        padding-left: 5px;
        a:visited {
          color: $white;
        }
      }
    }
  }
  &__bottom {
    &__list {
      padding: 20px;
      color: $white;
      &__group-name {
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__group-message {
        font-size: 11px;
      }
    }
  }
}